.users-topline
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 24px
  &-filters
    display: flex
    justify-content: center
    max-width: 742px
    width: 100%
    margin-right: 16px
