@import vars
@import mixins

body
  position: relative
  margin: 0
  font-family: $default-font
  font-weight: 400
  font-size: 14px
  line-height: 20px
  letter-spacing: -0.05px
  min-width: 320px
  color: $text

*
  outline: none!important
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

.img-responsive
  display: block
  max-width: 100%
  height: auto

.page-wrapper
  display: flex

ul
  padding-left: 0
  list-style-type: none
  margin: 0

